
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/*======================================
    GENERAL STYLES
  =======================================*/

body {
font-family: 'Roboto', sans-serif;
font-size:16px;
line-height:35px;
}

 .carousel-caption {
    top: 50px;
}

.social-icons{
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-icons li{
  display: inline;
  padding:20px;
}
section {
    padding-top:90px ;
    padding-bottom:100px;
}
h1 {
    font-weight:900;
}
.pad-btm {
    padding-bottom:50px;
}

#social_media li{
  display: inline-block;
}
/*======================================
    HOME SECTION STYLES
  =======================================*/
#home-sec {
    background-color:#ffffff;
    line-height:1px;
}
home-sec .carousel-caption {
    top: 50px;
}
.slide-h1 {
    font-size:80px;
    font-weight: 200;
    padding-bottom:10px;
    text-shadow: none !important;
}
.slide-h2 {
    font-size:40px;
    font-weight:100;
    padding-bottom:10px;
    text-shadow: none !important;
}
.cs{
color: #00f2ff;
}
.uw{
  color: #ffe01c;
}
/*======================================
    NAV STYLES
  =======================================*/

#nav{
	position: fixed;
	top: 60%;
	right:10px;
}

#nav li{
	display: block;
margin: 10px;
width: 20px;
height: 20px;
overflow: hidden;
background-color: rgb(0, 0, 0);
border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
	-ms-box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
	box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
}

#nav li:hover{
	background-color:#fff;
}

#nav a{
	text-indent: -999em;
	color: transparent;
}

/*======================================
   ABOUT SECTION STYLES
  =======================================*/

#about-sec {
    color:#fff;
    background-color:#5aabe0;
}
/*======================================
   Experience SECTION STYLES
  =======================================*/
#experience-sec {
    background-color:#E23E3E;
    color:#fff;
}
/*======================================
   Project SECTION STYLES
  =======================================*/
#project-sec {
    color:#fff;
    background-color:#1e7e52;
}
.set-img {
    border:10px solid #29CC71;
}
.project-card{
  width: auto;
  height: auto;
  background-color: purple;
  transform: scale(1,1);
  transition-duration: 0.5s;
}
.project-card:hover{
  transform: scale(1.05,1.05);
  transition-duration: 0.5s;
}
/*======================================
   CONTACT SECTION STYLES
  =======================================*/

#contact-sec {
    color:#fff;
    background-color:#fa9040;
}
.cnt-img {
    border:10px solid #FFB566;
}
/*======================================
   FOOTER SECTION STYLES
  =======================================*/
#footer-sec {
    border-top:1px solid #fff;
    padding:10px 50px 10px 50px;
    text-align:right;
    background-color:#fa9040;
}
/*======================================
   MEDIA QUERIES
  =======================================*/

@media (min-width: 800px) and (max-width: 1000px) {
    .carousel-caption {
    top: 20px;
}
    .slide-h1 {
         font-size:40px;
         padding-bottom:5px;
    }
    .slide-h2 {
        padding-bottom:5px;
        font-size: 25px;
    }
   }


@media (min-width: 631px) and (max-width: 800px) {
    .carousel-caption {
    top: 10px;
}
    .slide-h1 {
         font-size:30px;
         padding-bottom:3px;
    }
    .slide-h2 {
        padding-bottom:3px;
        font-size: 20px;
    }
   }
@media (min-width: 501px) and (max-width: 630px) {
    .carousel-caption {
    top: 5px;
}
    .slide-h1 {
         font-size:30px;
         padding-bottom:3px;
    }
    .slide-h2 {
        display:none;
    }
   }
@media (min-width: 100px) and (max-width: 499px) {

    .slide-h1 {
        font-size: 25px;
        padding-bottom: 2px;
    }
    .slide-h2 {
        display:none;
    }

    #nav{
      display: none;
    }
   }
